packages:
    yum:
        sysstat: []

commands:
# Download sfagent
  "01-download-sfagent":
    command: "curl -fsSL -o install.sh https://raw.githubusercontent.com/snappyflow/apm-agent/master/install.sh"

# chmod sfagent
  "02-chmod-sfagent":
    command: "chmod +x install.sh"

# install sfagent
  "03-install-sfagent":
    command: "./install.sh"

# Download sfagent
  "04-config.yaml":
    command: "curl -o /opt/sfagent/config.yaml https://raw.githubusercontent.com/ruchira27/projectConfig/main/linux-config"

# start sfagent
  "05-config.yaml":
    command: service sfagent restart


