files:
  "/tmp/sfagent_installation.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      # Install sfagent
      echo "download installer"
      curl -fsSL -o /opt/install.sh https://raw.githubusercontent.com/snappyflow/apm-agent/master/install.sh
      echo "change mod"
      chmod +x /opt/install.sh
      echo "run installer"
      /opt/install.sh
      echo "stop service"
      service sfagent stop > /dev/null 2>&1
      echo "replace config"
      curl -o /opt/sfagent-config.yaml https://raw.githubusercontent.com/ruchira27/projectConfig/main/linux-config
      mv -f /opt/sfagent-config.yaml /opt/sfagent/config.yaml
      # Install sysstat
      echo "install sysstat"
      yum -y install sysstat
      echo "start service"
      service sfagent starat > /dev/null 2>&1
      sleep 2
      echo "Done"
      echo 

commands:
  99-sfagent_install:
    command: sh sfagent_installation.sh
    cwd: /tmp
    test: '[ -x /tmp/sfagent_installation.sh ]'

