packages:
    yum:
        sysstat: []

files:
  "/opt/sfagent-config.yaml":
    mode: "000755"
    owner: root
    group: root
    content: |
        key: htfhE+fMzbVGFza7PTX3VsZJbUK830ni+VGCE3zIBPmvVxUeDlZNB4HZLHIHHHMkOBbHK9f+lEGEPrQieq5m6X9S/3iGbY19KXvhXkQ9qR9VGBPVYE27r+xcYFwwVwE+vIcFN1BsbV0/c3pVIY8/iv92X/kYUaZQGXMjHNoB8S+fypQySJuPdwubLiI8CMLZzVbSSBTrVagd/6eZSiEua5LudXghFS1sVHuoY4QwO1K5DmnT2HnPLy0x3b4/x4M5KV5wRx4LtTMlMv6OJfYIolzwTuvcbC1TP9IvB+P7zGTzjKNTm0mUbAvhaUpRu2zZATU/OQR76AztIUKmgxtcNAM70IYL+ifPq57AO2ZWZIKcEv9YyFhQRWHNIhQ/b3ZIW3mcRHlekX0dMAyLxjdYgNaC9NPkBluf9HVHX06eCP4/HuyUKwdjhVBbjqX/8nP60opEP3z3m3H3ty9q3cEbrNGuLZLJuJBji3EKhEIBL2+nHdeSMGia78R1fovr/Q+GlOFdF81MabJAC3jJLvzGPzfg9yslN688/HDX/cdDLdYsCkIVkQNBGRJTk7E8ndRLVnpsm8icCnJ+lIA0BVa70HaY6Cjmf2yDWiNaeVkP8DCc1oBqd0COxu8D4a2fE8Ag
        tags:
          Name: nodejsapp-env
          appName: nodejsapp-app
          projectName: elasticbeanstalk
        metrics:
          plugins:
            - name: nginx
              enabled: true
              interval: 60
              config:
                location: stats
                port: 80
                secure: false
            - name: linux
              enabled: true
              interval: 30
        logging:
          plugins:
            - name: nginx-access
              enabled: true
              config:
                geo_info: false
                log_path: /var/log/nginx/access.log, /var/log/nginx/access_log
                ua_parser: false
            - name: nginx-error
              enabled: true
              config:
                log_level:
                  - emerg
                  - alert
                  - error
                log_path: /var/log/nginx/error.log, /var/log/nginx/error_log
            - name: linux-syslog
              enabled: true
              config:
                log_level:
                  - error
                  - warning
                  - info
                log_path: /var/log/syslog,/var/log/auth.log,/var/log/messages,/var/log/secure

  "/tmp/install.sh":
    mode: "000755"
    owner: root
    group: root
    source: https://raw.githubusercontent.com/snappyflow/apm-agent/master/install.sh
    
  "/tmp/configure_sfagent.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      echo "Replace Config"
      mv -f /opt/sfagent-config.yaml /opt/sfagent/config.yaml

commands:
  10-sfagent-install:
    command: bash /tmp/install.sh > /tmp/sfagent_install.log 2>&1; echo
    cwd: /tmp
    test: '[ -x /tmp/install.sh ]'
  11-sfagent-stop:
    command: service sfagent stop > /dev/null 2>&1; echo
    cwd: /opt/sfagent
    test: '[ -f /opt/sfagent/sfagent ]'
  12-sfagent-config:
    command: sh configure_sfagent.sh; echo
    cwd: /tmp
    test: '[ -x configure_sfagent.sh ]'
  13-sfagent-start:
    command: service sfagent start > /dev/null 2>&1; echo
    cwd: /opt/sfagent
    test: '[ -f /opt/sfagent/sfagent ]'

